# IDE - VSCode
!/.vscode/
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# Dependency directories
/node_modules/

# Misc
/.DS_Store

# Playground
/playground/
